.ComparatorFilterItem {
    display: flex;
    text-align: left;
    margin-bottom: 1rem;
}

.ComparatorFilterItem__checkbox {
    margin-right: .5rem;
}

.ComparatorFilterItem__checkbox-label {
    color: #4e8eda;
}